API_ID=29029280
API_HASH=68d352387daaa3abf414f4f2fa05fde6
BOT_TOKEN=7995013544:AAEneuBtOw6z2yJMB4cQQoc8B1UUMeNs_b4
LOG_GROUP_ID=-1002442747959
MONGO_DB_URI=mongodb+srv://jaydipmore74:xCpTm5OPAfRKYnif@cluster0.5jo18.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7168729089
STRING_SESSION=BQG686AAiXuv9zG7rOPn_b1_4z6t719NNNoeVxKkgXTDMCja9q87wcGPsNevgKtRNIGD7xxr_8SyGass1c4lXmJMhOcbfsQtInfWZ-vGfl91ARqPCeJt2BEZ8lB8xKEOfrrFOW-iwaliERpTKwbTDxzog7I28_mS0a8yduAsBa7ygRVPDV1YO_K2gMXkAuOXaXOqPwqwvbmAy9c-K8gqea7mf7aDkDdOcsO8XuWg-ExkTYjkklKDDjB49dz_RAOnk-lkdg7NSgl5lavzdRgqCHirCbIufOuZGAsIaSPMd5NIoIewgBvGt5M47ma3YDSrNPRm6IcdWhjekqF_5Xvp6TwsGw68mQAAAAG_FnJlAA
